
<form (ngSubmit)="UpdateCategory()" enctype="multipart/form-data" class="form-container">
    <div class="form-group">
      <label class="form-label" >Category Name</label>
      <input type="text" class="form-control" name="Name" value="{{category.category.name}}" [(ngModel)]="newCategory.Category.Name ">
    </div>
    <div class="form-group checkboxs" *ngFor="let specific of  Specifications.entities| paginate: { itemsPerPage:pageItem ,currentPage: pageNumber, totalItems: totalCount}  ; let i = index ">
      <input type="checkbox"
             name="Id"
             [checked]="getIsChecked(specific.id)"
             [value]="specific.id"
             id="{{ specific.id }}"
             [(ngModel)]="specific.isSelected "
             (change)="updateSpecification()">
      <label class="form-label m-2 m-2" [for]="specific.id">{{ specific.name }}</label>
    </div>
    <hr/>
    <!-- <div class="paginate">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  
    </div>    -->
     <button type="submit" class="btn btn-primary submit-btn">Update Category</button>
  </form>
  